*.spec
*.deb
.git*
version.inc
*.f90_*
*.o
*.mod
*.a
*.old
.deps
*.arg
*.OUT
*.OUT.*
.out.xml
.cdtproject
.cproject
.project
.pydevproject
.settings
.metadata
fort.*
*.diff
*.orig
outerr.*
*.tex
*.aux
*.dvi
*.log
*.toc
.DS*
._.DS*
gitlog.txt
exc/arch.make
exc/Makefile.objdep
exc/build/bin/
